{
  "openapi": "3.0.0",
  "info": {
    "title": "BilboMD Backend",
    "version": "1.9.0",
    "description": "API documentation for bilbomd-backend"
  },
  "servers": [
    {
      "url": "https://bilbomd.bl1231.als.lbl.gov/api/v1",
      "description": "production"
    },
    {
      "url": "http://localhost:3001/api/v1",
      "description": "development"
    }
  ],
  "paths": {
    "/auth/otp": {
      "post": {
        "summary": "Authenticate user with OTP",
        "description": "Authenticate a user by providing a one-time password (OTP).",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "description": "The one-time password provided by the user.",
                    "example": 123456
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful. Returns an access token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "An access token for the authenticated user.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Missing or invalid OTP.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.",
                      "example": "OTP required."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid OTP or OTP has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message.",
                      "example": "OTP has expired."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "get": {
        "summary": "Refresh Access Token",
        "description": "Refreshes the access token using a valid refresh token.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "cookie",
            "name": "jwt",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The refresh token received in a cookie."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful refresh.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "The new access token."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing refresh token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Refresh token is invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout and Clear JWT Cookie",
        "description": "Logs out the user by clearing the JWT cookie.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "JWT cookie cleared successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message."
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "JWT cookie cleared successfully."
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "Get All Jobs",
        "description": "Retrieves a list of all jobs, including details from both MongoDB and BullMQ.",
        "tags": [
          "Job Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "mongo": {
                        "$ref": "#/components/schemas/Jobs"
                      },
                      "bullmq": {
                        "type": "object",
                        "description": "BullMQ job details. Structure depends on the job type."
                      },
                      "username": {
                        "type": "string",
                        "description": "Username of the user associated with the job."
                      }
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No jobs found. Returns an empty response."
          },
          "500": {
            "description": "Internal Server Error - Unable to retrieve jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.",
                      "example": "Internal Server Error - getAllJobs"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a New Job",
        "description": "Creates a new job with various files and job type specifications.",
        "tags": [
          "Job Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the user creating the job."
                  },
                  "bilbomd_mode": {
                    "type": "string",
                    "description": "Type of job to create."
                  },
                  "psf_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PSF file for the job."
                  },
                  "pdb_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDB file for the job."
                  },
                  "crd_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CRD file for the job."
                  },
                  "constinp": {
                    "type": "string",
                    "format": "binary",
                    "description": "Constraint input file."
                  },
                  "const_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Constraint file for the job."
                  },
                  "inp_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Input file for the job."
                  },
                  "expdata": {
                    "type": "string",
                    "format": "binary",
                    "description": "Experimental data file."
                  },
                  "dat_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "DAT file for the job."
                  },
                  "pae_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PAE file for the job."
                  }
                },
                "required": [
                  "email",
                  "bilbomd_mode"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "description": "Success message indicating job creation."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing fields or invalid job type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message detailing the issue with the request."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request due to no user found with the provided email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating no user found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error due to issues creating the job.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message detailing the server issue."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "delete": {
        "summary": "Delete a Job",
        "description": "Deletes a specific job by its ID, along with any associated files on disk.",
        "tags": [
          "Job Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique identifier of the job to be deleted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job and associated resources successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reply": {
                      "type": "string",
                      "description": "Confirmation message of the job deletion."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Job ID not provided or job not found in the database.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating either a missing job ID or that the job could not be found."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Directory associated with the job not found on disk or no job was deleted because it didn't exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating the directory for the job was not found or no job was found to delete."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error occurred during the deletion process, either with database deletion or directory removal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message detailing the server-side issue encountered during deletion."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Job by ID",
        "description": "Retrieves detailed information about a specific job, including its status and results, if available.",
        "tags": [
          "Job Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "The unique identifier of the job.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved job details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The job's unique ID."
                    },
                    "mongo": {
                      "$ref": "#/components/schemas/Job"
                    },
                    "bullmq": {
                      "type": "object",
                      "description": "Optional. Details from BullMQ about the job's execution."
                    },
                    "classic": {
                      "type": "object",
                      "description": "Optional. Specific details for classic BilboMD jobs."
                    },
                    "auto": {
                      "type": "object",
                      "description": "Optional. Specific details for auto BilboMD jobs."
                    },
                    "scoper": {
                      "type": "object",
                      "description": "Optional. Status information for Scoper jobs."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing job ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating that the job ID is required."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No job matches the provided ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating no job found with the provided ID."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve job due to an internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message detailing the issue encountered."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/magicklink": {
      "post": {
        "summary": "Generate Magic Link",
        "description": "Generates a one-time password (OTP) for user authentication based on the provided email address.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "description": "Email address of the user to generate the magic link for.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The email address associated with the user's account."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OTP created and magic link (if applicable) sent to the user's email address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "description": "Success message."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing email field.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating that the email field is required."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request because no account exists with the provided email address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating no account found with that email."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden action due to the user's account being in a pending state or deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating the account status."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred during the magic link generation process.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "General error message for server-side errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "Create a New User",
        "description": "Registers a new user with username and email. Returns a conflict error if the username or email already exists.",
        "tags": [
          "User Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user",
                  "email"
                ],
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "The username for the new user."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address for the new user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the new user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "description": "Success message."
                    },
                    "code": {
                      "type": "string",
                      "description": "Confirmation code for the user."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing username or email, or invalid user data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message explaining the reason for the bad request."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict due to duplicate username or email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating a duplicate username or email."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Get all users",
        "description": "Retrieve a list of all users.",
        "tags": [
          "User Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of user objects. Returns an empty array if no users are found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Indicates an unexpected condition encountered on the server."
          }
        }
      },
      "patch": {
        "summary": "Update User",
        "description": "Updates an existing user's information.",
        "tags": [
          "User Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "User object to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "The ID of the user to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid input or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict. Duplicate username found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "delete": {
        "summary": "Delete a user",
        "description": "Deletes a user by ID. Fails if the user has assigned jobs or if the user does not exist.",
        "tags": [
          "User Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "The unique identifier of the user to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Confirmation message of deletion.",
                      "example": "Username johndoe with ID 12345 deleted"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User ID not provided or user has assigned jobs and cannot be deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.",
                      "example": "User ID Required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found or no user was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get User by ID",
        "description": "Retrieves detailed information about a user by their unique identifier.",
        "tags": [
          "User Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique identifier of the user to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User found and returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "User ID not provided or user with specified ID not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating the user ID was not provided or not found.",
                      "example": "User ID required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify": {
      "post": {
        "summary": "Verify New User",
        "description": "Verify a new user's registration using a confirmation code.",
        "tags": [
          "User Management"
        ],
        "requestBody": {
          "description": "The confirmation code to verify the new user.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The confirmation code to verify the new user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User verified successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid input or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify/resend": {
      "post": {
        "summary": "Resend Verification Code",
        "description": "Resends a new verification code to the user's email.",
        "tags": [
          "User Management"
        ],
        "requestBody": {
          "description": "Email address of the user to resend the verification code to.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The email address of the user to whom the verification code should be resent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A new verification code was successfully generated and sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message indicating the verification code was sent."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing email field.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating that the email field is required."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized because no user exists with the provided email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating no user found with that email."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred during the process.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "General error message for server-side errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "required": [
          "username",
          "roles",
          "refreshToken",
          "email"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refreshToken": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "Pending",
              "Active"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "confirmationCode": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "otp": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "UUID": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "last_access": {
            "type": "string",
            "format": "date-time"
          },
          "jobs": {
            "type": "array",
            "items": {
              "type": "schemaobjectid"
            }
          },
          "_id": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Jobs": {
        "title": "BilboMd",
        "required": [
          "title",
          "uuid",
          "data_file",
          "user",
          "psf_file",
          "crd_file",
          "const_inp_file",
          "rg_min",
          "rg_max"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "data_file": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "Submitted",
              "Pending",
              "Running",
              "Completed",
              "Error"
            ]
          },
          "time_submitted": {
            "type": "string",
            "format": "date-time"
          },
          "time_started": {
            "type": "string",
            "format": "date-time"
          },
          "time_completed": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "type": "schemaobjectid"
          },
          "steps": {
            "type": "object",
            "properties": {
              "pae": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "autorg": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "minimize": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "heat": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "md": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "foxs": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "multifoxs": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "results": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "email": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "Waiting",
                      "Running",
                      "Success",
                      "Error"
                    ]
                  },
                  "_id": {
                    "type": "string"
                  }
                }
              },
              "numEnsembles": {
                "type": "number"
              }
            }
          },
          "_id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "__t": {
            "type": "string"
          },
          "pdb_file": {
            "type": "string",
            "required": false
          },
          "psf_file": {
            "type": "string"
          },
          "crd_file": {
            "type": "string"
          },
          "const_inp_file": {
            "type": "string"
          },
          "conformational_sampling": {
            "type": "number",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "rg_min": {
            "type": "number"
          },
          "rg_max": {
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "jwt"
      }
    }
  },
  "tags": []
}