<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        body {
            -webkit-text-size-adjust: none ;
            text-size-adjust: none ;
            box-sizing: border-box ;
            background-color: #1E2A38 ;
            padding: 16px ;
            margin: 0 ;
            padding: 30px 5% 30px 5% ;
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif ;
            font-size: 14px ;
            color: #F1F1F1 ;
            text-align: center ;
            line-height: 1.33 ;
        }

        .logo {
            border-radius: 100% ;
            width: 80px ;
            height: 80px ;
        }

        .wrapper {
            max-width: 450px ;
            margin: 0 auto 0 auto ;
        }

        p {
            margin: 14px 0 0 0 ;
        }

        p.left-align {
            text-align: left;
        }

        p a:link,
        p a:visited,
        p a:active,
        p a:hover {
            color: #FFF;
            text-decoration: underline;
        }

        .button {
            box-sizing: border-box ;
            line-height: 16px ;
            font-size: 16px ;
            display: block ;
            padding: 13px 15px 13px 15px ;
            width: 200px ;
            margin: 0 auto ;
            text-align: center ;
            border-radius: 2px ;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.25) ;
            background-color: #F0F0F0;
            text-decoration: none ;
            color: #000 ;
        }

        .alt-link {
            margin-top: 10px;
            word-wrap: break-word ;
            color: #999 ;
            font-size: 12px ;
        }

        .footer {
            margin: 28px 0 0 0 ;
            border-top: 1px dotted #999 ;
            color: #999999 ;
            font-size: 12px ;
        }

        .footer-link {
            color: #BBB ;
            white-space: nowrap ;
        }

    </style>
</head>
<body>
    <div class="wrapper">

        <svg class="logo" viewBox="0 0 460 460"></svg>

        <p>Hi there! This is your BilboMD sign-in confirmation. Push the button!</p>
        <p><a class="button">Sign In to BilboMD</a></p>

        <p>You can also copy paste the link into your browser:</p>

        <p><a class="alt-link" href="{{signin-url}}">https://blibomd.als.lbl.gov/signin/authenticategrant=Fn72gQdfYGld0MqpW4i7nPYFxA</a></p>

        <p>This link will expire in 1 hour, and it's only good for one use. You can safely delete this email after you sign in.</p>

        <div class="footer">
            <p>You are receiving this email because you have an account with BilboMD and we need to confirm that you are signing in.
            <a class="footer-link" href="https://bilbomd.als.lbl.gov/settings/safety">Unsubscribe</a> by deleting your account.</p>

            <p>&copy; SIBYLS Beamline &#x2022 United States &#x2022 <a class="footer-link" href="https://bl1231.als.lbl.gov">sibyls.als.lbl.gov</a></p>
        </div>
    </div>
</body>
</html>
